<div class='about-div'>
  <h2> About me </h2>
  <p>
    In a nutshell, I like to make awesome stuff.
    <br>
    <br
    >Whether it's software, electrical, or mechanical, I'm always up for a new and exciting project.
    <br>
    <br>
    I'm currently an electrical engineer at the California Institute of Technology. I graduated from Harriton High School in 2010 and was co-captain of the Science Olympiad team there, which plays a huge role in who I am today. Even though I'm an EE major, my experience in Science Olympiad involved a lot of mechanical projects and my summers have been spent programming at UPenn and Google, so I consider myself competent in many fields.
    <br>
    <br>
    <a id='resumeLink' class='templateLink' href='static/resume.pdf'>Click here for my resume </a>
  </p> 
</div>