<div id='project-div' style='padding : 7px'>
  <h1 style='margin-bottom: 0px; opacity: .85; text-align: center'> Projects </h1>
  <p style='text-align: center'>
    Over time I have worked on many different projects; here, I list a smaller subset.<br> This list will grow as I have more projects and more time to work on the site!
  </p> 
  <br>
  <div class='project-container'>
    <div class='project-text'>
      <h2 class='project-header'>Oscilloscope</h2>
      <p class='project-p'>
        My sophmore year in college I built a fully functioning 5 MHz oscilloscope, it runs on an Altera FPGA, it was designed, programed, soldered, wire wrapped, and documented by myself, if you want to read through the documentation and code you can find it <a class='templateLink' id='resumeLink' href='https://dl.dropbox.com/u/7511551/Oscilloscope%20Manual.pdf'>here.</a>
      </p>
    </div>
    <div class='project-img'>
      <img src='ExperimentalFiles/fullScope293.jpg'>
    </div>
  </div>
  
  <br>
  <hr id='tophr'>
  <br>

  <div class='project-container'>
    <div class="project-img large-only">
      <img src='ExperimentalFiles/keypad293.png'>
    </div>
    <div class='project-text'>
      <h2 class='project-header right'>Touch Keypad</h2>
      <p class='project-p right'>
        As a part of the Oscilloscope project my roommate and I decided to work together to design, self-print, and assemble our own capacitive touch keypads in order to operate our oscilloscope. More information is in the <a class='templateLink' id='resumeLink' href='https://dl.dropbox.com/u/7511551/Oscilloscope%20Manual.pdf'>Oscilloscope Manual.</a>
      </p>    
    </div>
    <div class='project-img small-only'>
      <img src='ExperimentalFiles/keypad293.png'>
    </div>
  </div>

  <br>
  <hr id='tophr'>
  <br>

  <div class='project-container'>
    <div class='project-text'>
      <h2 class='project-header'>Science Olympiad</h2>
      <p class='project-p'>
        Throughout high school I participated in a variety of events in Science Olympiad. Medaling nationally in Electric Vehicle, Trajectory, Mission Possible, It's about Time, and Physics Lab. To this day I continue to help run competitions in Southern California.
      </p>
    </div>
    <div class='project-img'>
      <img src='ExperimentalFiles/theTeam293.jpg'>
    </div>
  </div>

  <br>
  <hr id='tophr'>
  <br>

  <h2 class='project-header' style='text-align: center'>Other stuff</h2>
  <br>
  <div class='project-container'>
    <div class='project-other-container' id='project-other-1'>
      <img src='static/BusinessCard.png'>
      <p class='project-other-p')>
        Business Card
      </p>
    </div>
    <div class='project-other-container' id='project-other-2'>
      <img src='ExperimentalFiles/pixel_board_logo.png'>
      <br><br>
      <p class='project-other-p')>
        PixelBoard
      </p>
    </div>
    <div class='project-other-container' id='project-other-3'>
      <img src='ExperimentalFiles/logoExperiment.svg'> <br><br><br>
      <p class='project-other-p')>
        Company Logo
      </p>
    </div>
  </div>

  <br>

</div>
